.section {
  background: linear-gradient(to right, #e0d5f0, #beade7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 24px;
  height: max-content;
  max-width: 25vw;

  .title {
    font-weight: 500;
    font-size: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  .content {
    margin-top: 28px;

    .blockQuote {
      text-align: justify;
      font-style: italic;
      line-height: 1.6;
      color: #555555;
      margin: 50px auto;
      position: relative;
      padding: 0 54px;

      &::before {
        content: '\201C';
        color: #1d986f;
        font-size: 4em;
        position: absolute;
        left: 10px;
        top: -30px;
      }

      &::after {
        content: '\201D';
        color: #3ba17f;
        font-size: 4em;
        position: absolute;
        right: 26px;
        top: -30px;
      }

      span {
        display: block;
        color: #333333;
        font-weight: bold;
        font-size: 20px;
        margin-top: 1em;
        float: right;
      }
    }
  }
}
