.section {
  background: rgba(255, 223, 193, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 24px;
  height: max-content;

  & > .title {
    font-weight: 500;
    font-size: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  &.totals {
    .filterSelect {
      margin-top: 20px;
    }

    .part {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 24px;
      width: 48%;
      border-radius: 10px;
      cursor: pointer;
      transition-duration: 0.6s;

      &:hover {
        background-color: rgba(78, 207, 86, 0.6);
      }

      &:active {
        background-color: rgba(17, 118, 24, 0.6);
      }

      & ~ .part {
        &:hover {
          background-color: rgba(238, 95, 79, 0.6);
        }

        &:active {
          background-color: rgba(255, 51, 40, 0.6);
        }
      }

      .titleContainer {
        display: flex;
        justify-content: center;
        text-align: center;

        .title {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          display: inline-block;
          margin-right: 12px;
          line-height: 36px;
        }
      }

      .amount {
        .number {
          margin-top: 20px;
          margin-right: 12px;
          font-weight: 400;
          font-size: 28px;
          line-height: 24px;
          letter-spacing: 0.05em;
          display: inline-block;
        }

        .currency {
          font-weight: 400;
          font-size: 28px;
          line-height: 24px;
          display: inline-block;
        }
      }

      .compare {
        margin-top: 22px;
        display: flex;
        justify-content: center;

        .icon {
          margin-right: 8px;
        }

        .amount {
          line-height: 24px;
        }
      }
    }
  }
}
