.main {
  position: relative;

  .content {
    position: absolute;
    left: 240px;
    top: 0;
    padding: 32px;
    height: calc(100% - 160px);
    width: calc(100vw - 257px);
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    .input {
      display: none;
    }

    .large {
      width: 82px;
      height: 82px;
    }
  }

  .userId {
    position: relative;
    appearance: none;
    padding: 14px 48px 14px 16px;
    outline: none;
    border-radius: 100px;

    border: 2px solid transparent;
    background: linear-gradient(#c8e8cc) padding-box,
      radial-gradient(farthest-corner at 50% 50%, #00c9a7, #845ec2) border-box;
  }

  .fakeTable {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    border-top: 3px solid #888888;

    table {
      width: 100%;
      max-height: 90%;
    }

    td {
      height: 68px;
      width: calc(100% - 320px);
      margin: 10px 0;
      vertical-align: middle;

      &:first-child {
        width: 220px;
      }

      &:not(:last-child) {
        height: auto;
      }
    }

    .shortField {
      width: 40%;
    }

    .longField {
      width: 75%;
    }

    .textField {
      div {
        input {
          padding-left: 10px;
          padding-right: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .btn {
      cursor: pointer;
      transition: 0.4s;
      border: 6px solid rgb(0, 0, 0);
      border-radius: 4px;
      box-shadow: 1px 3px #888888;
      display: flex;
      justify-self: center;
      align-items: center;
      height: fit-content;
      padding: 6px 16px;
      margin-top: 24px;
      color: rgb(0, 120, 0);
      border: 2px solid #0c8605;
      background-color: rgb(144, 213, 141, 0.5);

      &:hover {
        color: #fff;
        background-color: rgba(12, 134, 5, 0.6);
      }

      &:active {
        box-shadow: none;
        transform: translate(1px, 3px);
        background-color: rgb(3, 102, 19);
      }
    }
  }

  .textArea {
    padding: 16px 16px 16px 12px;
    font-size: 16px;
  }

  .extraLongField {
    width: 95%;
  }

  .fieldQuote {
    margin-top: 16px;
  }
}
