.wrapper {
  width: 100%;
  cursor: pointer;
  transition: visibility 0s, opacity 0.5s linear;

  .sidebarItem {
    width: 100%;
    height: 64px;
    background: #808080;
    border-bottom: 4px solid #e5e4e2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    padding: 0px 18px 0px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.4s linear;

    .label {
      font-size: 18px;

      .labelText {
        color: #fff
      }
    }
  }

  &.hover {
    .sidebarItem {
      background: #555555;
    }

    & > div > .wrapper {
      visibility: visible;
      opacity: 1;
      height: auto;

      .sidebarItem:hover {
        background: #303030;
      }
    }
  }

  & > div > .wrapper {
    height: 0;
    visibility: hidden;
    opacity: 0;
    margin-left: 50px;
    width: calc(100% - 50px);

    .sidebarItem {
      background: #555555;
      border-width: 0px 0px 2px 1px;
      border-style: solid;
      border-color: #ffffff;
    }
  }
}
