.main {
  position: relative;

  .content {
    position: absolute;
    left: 240px;
    top: 0;
    padding: 32px;
    height: calc(100% - 160px);
    width: calc(100vw - 257px);
  }
}

.formEditDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  margin: auto;
}
