@import './fixLibraryBugs';

input {
  font-family: 'Rubik', sans-serif !important;
}

textarea {
  font-family: 'Rubik', sans-serif !important;
}

.MuiDialog-paperScrollPaper {
  max-width: none;
}

.MuiDialogActions-root {
  .MuiButton-root {
    padding: 12px 20px;
    border-radius: 6px;
  }
}
